<div class="main clearfix">
    <article class="content">
        <section>
            <h1>とぅいったーくろーん</h1>
            <p>
                PHASE2大課題のtwitterクローン作成のページを、Bootstrapシリーズ課題に作り替えたアプリです。<br>
                上の『新しく呟く』から色々と呟けますよ。<br>
                夏の終わりに呟いてみましょう。
            </p>
            <ul class="row">
                <li class="col-md-6"><%= image_tag("tweeet.jpg") %></li>
                <li class="col-md-6">もう夏も終わるんだ、という思いを呟く。</li>
            </ul>
        </section>
    </article>
</div>