    <div class="main clearfix">
        <article class="content">
            <section>
                <h1><%= @user.name %>さんの情報です</h1>
                <p>登録メアド: <%= @user.email %></p>
            </section>
        </article>
    </div>
