/*全体*/

html {
    height: 100%;
    font-size: 75%;
}

body {
    width: 980px;
    margin: 0 auto;
    height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}


/*ヘッダ*/

.header {
    background-color: #808080;
    height: 216px;
}

.logo_set {
    width: 100%;
    float: left;
}

.header p{
    position: absolute;
	color: white;
	top: 0;
	left: 2%;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: black 2px 0px, black -2px 0px,
        black 0px -2px, black 0px 2px,
        black 2px 2px , black -2px 2px,
        black 2px -2px, black -2px -2px,
        black 1px 2px,  black -1px 2px,
        black 1px -2px, black -1px -2px,
        black 2px 1px,  black -2px 1px,
        black 2px -1px, black -2px -1px;
}

.header a{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.header a:hover{
    background-color: #fff;
    opacity: 0.5;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}


/*ナビ*/

.navi{
    margin-top: 6px;
    width: 100%;
    background-color: #808080;
}

.navi li a{
    list-style: none;
    color: #fff;
    text-decoration: none;
    display: block;
    float: left;
    padding: 10px;
    margin: 0.1rem;
}

.navi li a:hover {
    background-color: #A0A0A0;
    text-decoration: underline;
}


/*サイド＆メイン*/

.main{
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 46px;
}

/*サイドメニュー*/

.side_menu{
    width: 200px;
    float: right;
}

.side_menu li a{
    text-decoration: none;
    background-color: #808080;
    color:#fff;
    font-size: 1rem;
    height: 3rem;
    padding-top: 2rem;
    margin-bottom: 6px;
    display: block;
}

.side_menu a:hover{
    text-decoration: underline;
    opacity: 0.5;
}

/*コンテンツ*/

.content{
    width: 760px;
    margin-right: 20px;
    float: left;
    background-color: #eee;
    font-size: 1rem;
}

.content section{
    margin-left: 6px;
    margin-bottom: 6px;
}

h1{
    font-size:2rem;
    margin-top: 6px;
    margin-right: 6px;
    padding: 0.5rem;
    color: #000;
    background-color: #ddd;
    border-left: solid 6px #808080;
}

h2{
    font-size:1.5rem;
    margin-top: 6px;
    margin-left: 12px;
    margin-right: 6px;
    padding: 0.5rem;
    color: #000;
    background-color: #ddd;
    border-left: solid 6px #a0a0a0;
    border-bottom: solid 1px #a0a0a0;
}

.c_me{
    width: 150px;
}

.content table{
    width:100%;
    border-collapse: collapse;
    text-align: left;
}
.content tr{
    height: 4rem;
}
.content th{
    padding: 1rem;
}
.content td{
    padding: 1rem;
}

.c_me_td{
    position: relative;
    width:156px;
}

.c_me_td p{
    position: absolute;
    top:40%;
    left:20%;
	color: red;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: #fff 1px 1px 0, #fff -1px -1px 0,
        #fff -1px 1px 0, #fff 1px -1px 0,
        #fff 0px 1px 0, #fff  0-1px 0,
        #fff -1px 0 0, #fff 1px 0 0;
}

.qa_l{
    margin-left: 24px;
}

.qa_l p{
    float: left;
    width: 400px;
    line-height: 2rem;
}

.qa_l img{
    width: 320px;
    float: right;
}

.qa_r{
    margin-left: 24px;
}

.qa_r p{
    float: right;
    width: 400px;
    line-height: 2rem;
}

.qa_r img{
    width: 320px;
    float: left;
}



/*フッター*/

.container{
  width: 980px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}

.footer{
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  background-color: #808080;
  display: table;
}
.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

